@using ETicaret.Entity
@model List<Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Photo</th>
            <th>Edit & Delete </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Brand.BrandName</td>
                <td>
                    <img src="~/Images/@item.Photo" width="75" height="75"/>
                </td>
                <td>
                    <a href="~/Admin/Product/EditProduct/@item.ProductId">Edit</a>
                    <a href="~/Admin/Product/DeleteProduct/@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
